{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Freshers Training Progress Tracker
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >

</head>

<body>

    <!-- Navigation Bar -->

    <nav class="navbar">

        <h2>
            Training Tracker
        </h2>

        <div>

            <a href="{% url 'dashboard' %}">
                Dashboard
            </a>

            <a href="{% url 'register' %}">
                Registration
            </a>

            <a href="{% url 'progress' %}">
                Daily Progress
            </a>

            <a href="{% url 'assignment' %}">
                Assignment
            </a>

            <a href="{% url 'project' %}">
                Project
            </a>

            <a href="{% url 'logout' %}">
                Logout
            </a>

        </div>

    </nav>


    <!-- Page Content -->

    <main class="container">

        {% block content %}

        {% endblock %}

    </main>


    <script
        src="{% static 'js/script.js' %}"
    ></script>

</body>

</html>